<div class="jumbotron">
    <div class="container">
        <h1>Search by category</h1>
        <p>
            Search by category using the form below!
            <br>
            <span>Aviable categories: {{categories}}</span>
        </p>
        <form #form="ngForm" (submit)="search(form.value)">
            <input type="text" class="form-control" name="category" required ngModel>
            <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>


<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Welcome to Voter App</h1>
            <p>In order to vote you shold be logged in.</p>
        </div>
    </div>
    <div class="row space-top">
        <div class="col-md-4 mt-3" *ngFor="let p of polls | paginate: {
            id: 'polls',
            itemsPerPage: pageSize,
            currentPage: page
        }">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <p>{{p.title}}</p>
                    <blockquote class="card-blockquote">
                        <img src="./../../../assets/poll.jpg" />
                        <div class="pull-right">
                            <a *ngIf="authService.isLoggedIn()" routerLink="/poll/vote/{{p._id}}" class="btn btn-info">Vote</a>
                            <a *ngIf="authService.isAdmin()" routerLink="/poll/edit/{{p._id}}" class="btn btn-success">Edit</a>
                            <span *ngIf="authService.isAdmin()" (click)="deletePoll(p._id)" class="btn btn-danger">Delete</span>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <pagination-controls id="polls" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Previous"
        nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>